
<H1>About</H1>
<h3><p>
The Defender app has two purposes:
</p></h3>
<h4><p>
- Protect oneself against possibly being falsely accused of a DUI/DWI.
</P></h4>
<h4><p>
- Quickly and efficiently notify all necessary parties that you are being arrested.
</P></h4>

<p>
	Have an idea for an app and not sure if anyone will actually use it?  At 
	<%=link_to "Labrit.co", "http://labrit.co" %>
	 we specialize in testing proof of concept for applications at the lowest possible cost.
</p>
