<div class="hero-unit">
		<h1>Welcome to the Defender App!</h1>


		<h3><%= link_to "Sign up Now!", "#", class: "btn btn-primary btn-large" %></h3>
		
</div>

<h4><%= link_to "Pre-Drive", pdrive_path, class: "btn btn-primary btn-large" %></h4>
<h3><%= link_to "Panic", panic_path, class: "btn btn-danger btn-large" %></h3>


<h4>Please review the <%= link_to "Instructions", instructions_path %> before use.</h4>

