<div class="hero-unit">
		<h1>Welcome to the Defender App!</h1>


		<h3><%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %></h3>
		
</div>

<h4>Please review the <%= link_to "Instructions", instructions_path %> before use.</h4>