
<body>
<h1>Instructions</h1>
<p>&nbsp;</p>
<h3>Ready to leave your location and want to have proof of sobriety?</h3>
<p>- <em>Make sure to go to our Pre-driving page and take a picture along with completing your voice recording.</em></p>
<h3><strong>Got pulled over? </strong></h3>
<p><em>- Go to our Panic page.</em></p>
</body>
</html>
